@media screen and (max-width: 1040px) {
	.nav-button{
		display: block;
	}
	.nav-bar{
		display: none;
	}
	.nav-bar-show{
		display: block;
		height: auto;
	}
	.event .section-title>div{
		width: 350px;
	}
		
	#story .section-title>div,
	footer .section-title>div{
		width: 200px;
	}
	
}
@media screen and (max-width: 768px) {
	.compositions-info,
	.compositions-video{
		width: 310px;
	}
	.event{
		margin-right: auto;
		width: 90%;
	}
	.contact{
		width: 60%;
		position: relative;
		text-align: left;
		margin-left: auto;
	}
}
@media screen and (max-width: 659px) {
	#slider{
		
		padding-bottom: 70px;
		
	}
	.wrapper .track{
		height: auto;
	}
	#tours .discography-rows{
		width: 95%;
		
		margin-left: auto;
		
		
	}
	.main-title{
		width: 300px;
		height: 300px;
		background-size: contain;
	}
	.section-title>div{
		display: none;
		top: 25px;
		
		width: 300px;
		
	}
	.event .section-title>div{
		width: 300px;
	}
	.event .section-title h1{
		font-size: 30px;
	}
	.compositions-info:nth-child(odd){
		order:30;
	}
	.contact{
		width: 80%;
	}
}