@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
	padding: 0;
	margin: 0;
	
}
body{
	font-family: 'Open Sans', sans-serif;
	background: #fff;
}
header,
footer,
section,
nav{
	width: 100%;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.container{
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
nav{
	position: fixed;
	z-index: 100;
	background: rgba(125,125,125,0.9);
}
h3{
	margin-bottom: 20px;
}
h3,p,span{
	color:  #606060;
}
h1{
	font-size: 40px;
}
a{
	text-decoration: none;
	color:#fff;
}
/*header*/
.nav-button{
	font-size: 30px;
	color: #fff;
	cursor: pointer;
	display: none;
	transition: 1s;
	position: relative;
	left: 0;
}
.fa-bars-animate{
	animation-name: mob;
	animation-duration: 1s;
}
@keyframes mob {
		0% {transform:rotate(0deg);}
		100% {transform:rotate(1440deg);}
	}
.fa-times-animate{
	transform: rotate(360deg);
	transition: 1s;
}
.nav-bar{
	height: 50px;
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	align-items: center;
}
.nav-bar li{
	height: 20px;
	list-style: none;
	text-transform: uppercase;
	border-bottom: 2px solid rgba(0,0,0,0);
}
.nav-bar li:hover{
	border-bottom: 2px solid #fff;
	transition: .5s;
}
.nav-bar .active-list{
	border-bottom: 2px solid #fff;
	transition: .5s;
}
.main-screen{
	position: relative;
	min-height: 700px;
	background: url(img/header.jpg) no-repeat center top;
	background-size: cover;
}
.main-title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 440px;
	height: 440px;
	background: rgba(25,25,25,0.1) url(img/main.png) no-repeat center top;
}
.main-title:hover{
	animation-name: pulse;
	animation-duration: 4s;
	animation-iteration-count:infinite;
}
@keyframes pulse {
		0% {top: 50%;}
		25% {top: 55%;}
		50% {top: 50%;}
		75% {top: 45%;}
		100% {top: 50%;}
	}
/*discography*/
#discography{
	background: url(img/two.jpg) no-repeat center bottom;
	padding-bottom: 300px;
	padding-top: 50px;
}
#discography .section-title h1{
	margin-bottom: 30px;
	color:  #99694c;
}
#discography .section-title p{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.section-title{
	position: relative;
}
.section-title>div{
	position: absolute;
	top: 35px;
	left: 50%;
	transform: translateX(-50%);
	width: 400px;
	height: 1px;
	background: #606060;
}
.discography-content{
	text-align: left;
}
.discography-rows,
.compositions-rows{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 30px;
	margin-top: 40px;
}
.discography-rows>div{
	width: 40%;
	min-width: 300px;
	margin: 0 10px;
}
.button{
	width: 120px;
	height: 30px;
	border:1px solid #606060;
	text-align: center;
	padding-top: 10px;
	color: #606060;
	cursor: pointer;
	transition: 0.5s;
}
.button:hover{
	background: rgba(180,180,180,1);
	color:black;
	transition: 0.5s;
	animation-name: shake;
	animation-duration: 1s;
	animation-iteration-count:infinite;
}
@keyframes shake {
		0% {position: relative;
			top:0px;}
		25% {top: 2px;}
		50% {top: 0px;}
		75% {top: -2px;}
		100% {top: 0px;}
	}
/*section 2*/
#tours{
	padding-top: 50px;
	padding-bottom: 150px;
	background: url(img/concert.jpg) no-repeat 20% 0%;
	background-size: cover;
}
#tours .section-title h1{
	margin-bottom: 30px;
	color:  #62a2ad;
}
#tours .section-title p{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
#tours .discography-rows{
	width: 50%;
	margin-right: auto;
	margin-left: 50px;
	margin-top: 400px;
	display: block;
}
#tours .discography-rows>div{
	width: 90%;
	text-align: left;
}
/*compositions*/
#compositions{
	padding-top: 50px;
	padding-bottom: 50px;
}
#compositions h1{
	margin-bottom: 30px;
	color: #ff9466;
}
.compositions-info{
	width: 45%;
	text-align: left;
	margin: 10px;
}
.compositions-video{
	width: 45%;
	margin: 10px;
}
/*slider*/
#slider{
	position: relative;
	background: url(img/slider.jpg) no-repeat;
	background-size: cover;
	min-height: 500px;
	padding-top: 100px;
}
.next,
.prev{
	color: #fff;
	font-size: 30px;
	position: absolute;
	top: 50%;
	width: 30px;
	height: 30px;
	cursor: pointer;
	transform: translateY(-50%);
}
.prev{
	left: 10px;
	
}
.next{
	right: 10px;
	
}
.paginator{
	width: 200px;
	height: 30px;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}
.paginator div{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50% 50%;
	border:2px solid #fff;
	cursor: pointer;
}
.slides{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	display: none;
}
.active-slide{
	display: block;
}
.active-paginator{
	background: #fff;
}
.slide-logo{
	margin-left: auto;
	margin-right: auto;
	width: 130px;
	height: 50px;
	background: url(img/logo.png) no-repeat;
	background-size: cover;
}
.slides h3{
	color: #fff;
}
.slides p{
	color: rgb(200,200,200);
}

/*new-track*/

.wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 40px;
}
.snake{
	background: rgba(150,150,150,0.5);
	width: 50px;
	height: 50px;
	border-radius: 50% 50%;
	display: none;
	position: absolute;
	z-index: 99	;
	top: 5000px;
	left: 20px;
}
.snake i{
	font-size: 30px;
	position: relative;
	top: 7px;
	right: 3px;
	color:green;
}
.wrapper .track{
	box-sizing: border-box;
	margin: 10px;
	width: 380px;
	height: 420px;
	padding: 30px 25px;
	text-align: left;
	position: relative;
	z-index: 10;
}
.lol{
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(100,100,100,0.5);
	z-index: 11	;
	transition: .2s;
	opacity: 0;
}
.l0{
	background: url(img/1.jpg) no-repeat;
	background-size: cover;
	
}
.l1{
	background: url(img/2.jpg) no-repeat;
	background-size: cover;
	
}
.l2{
	background: url(img/3.jpg) no-repeat;
	background-size: cover;
	
}
.l3{
	background: url(img/4.jpg) no-repeat;
	background-size: cover;
	
}
.l4{
	background: url(img/5.jpg) no-repeat;
	background-size: cover;
	
}
.l5{
	background: url(img/6.jpg) no-repeat;
	background-size: cover;
}

/*events*/
#events{
	padding-top: 100px;
	padding-bottom: 100px;
	background: url(img/up.jpg) no-repeat 0% top;
	background-size: cover;
}
.event{
	width: 45%;
	margin-left: auto;
	margin-right: 50px;
	text-align: left;
}
.event h1{
	color: #42717e;
}
.event .section-title div{
	left: 0;
	transform: translateX(0);
}
.event-info{
	margin-top: 50px;
}
.event-info p{
	padding-top: 20px;
	
}
.event-info .line{
	display: block;
	width: 2px;
	height: 50px;
	background: grey;
	margin: 20px;
}

/*history*/

#story{
	background: url(img/history.jpg) no-repeat 53% top;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 600px;
}
#story .section-title{
	margin-bottom: 70px;
}
#story .section-title h1{
	margin-bottom: 20px;
	color: #ff9466;
}
.history-content p{
	width: 200px;
	margin-left: auto;
	margin-right: auto;

}

/*footer*/

footer{
	padding-top: 300px;
	background: url(img/footer.jpg) no-repeat center top;
	background-size: cover;
	min-height: 600px;
}
footer .section-title>div{
	left: 0;
	transform: translateX(0);
	top: 35px;
}
.contact{
	width: 45%;
	position: relative;
	text-align: left;
	margin-left: auto;
	transition: .5s;
}
.contact:hover{
	background: url(img/footer2.png) no-repeat center 100%;
	background-size: cover;
	transition: .5s;
}
.contact .section-title{
	margin-bottom: 50px;
}
.contact h1{
	margin-bottom: 20px;
	color:  #99694c;
}
.contact input{
	margin-bottom: 20px;
}
#showmessage{
	font-size: 16px;
}
#ajax_form{
	height: 250px;
}
.socials{
	position: absolute;
	width: 50px;
	height: 180px;
	border-left: 2px solid black;
	bottom: 70px;
	right: 0;
	padding-left: 10px;
	font-size: 25px;
}
.socials i{
	font-size: 25px;
	cursor: pointer;
	color: #99694c;
	transition: .5s;
}
.socials i:hover{
	transform: translateY(-15%);
	transition: .5s;
}
#btn{
	width: 150px;
	height: 50px;
}

input[type='text']{
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
}
#canvas{
	width: 80px;
	height: 200px;
	border:3px solid grey;
	margin-left: auto;
	margin-right: auto;
	
}